/node_modules
.vitepress/dist/
.vitepress/cache/

.DS_Store

.vscode/
.idea

*.log

# Environment variables
.env
.env.local
.env.*.local

# FVM Version Cache
.fvm/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
