@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(315deg, rgb(210, 53, 210) 10%, #647eff 50%, rgb(112, 238, 162) 90%);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 5s ease infinite;
}

.gradient-ai {
    font-size: 33px;
    font-weight: 500;
    background: linear-gradient(315deg, #70eea2, #ff61a5, #a955f7);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 2.5s ease infinite;
}

body .VPNavBar {
    background-color: transparent !important;
    background-image: radial-gradient(rgb(255 255 255) 1px, #00000000 1px) !important;
    background-size: 4px 4px !important;
    backdrop-filter: saturate(180%) blur(8px) !important;
}

body .VPNavBar .content-body {
    background-color: transparent !important;
}
